<a href="https://colab.research.google.com/github/prasadanilmore/EDApython/blob/main/Qcell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [26]:
display(mpp.columns, multi.columns, meteo.columns, pyrano.columns)

Index(['Serialnumber', 'U0', 'Imax', 'Umpp', 'Impp', 'Irradiation',
       'Temperature_Modul', 'Temperature_Sensor', 'Empp'],
      dtype='object')

Index(['string', 'group', 'idc', 'vdc', 'temperature', 'power', 'Edc', 'Eac'], dtype='object')

Index(['ID_fact_METEO', 'ID_SCC', 'Serialnumber', 'ID_inverter', 'ms01_speed',
       'ms02_direction', 'ms03_speed', 'ms04_direction', 'ms05_temperature',
       'ms06_temperature', 'ms07_temperature', 'ms08_humidity',
       'ms09_humidity_abs', 'ms10_pressure', 'ms11_pressure_abs',
       'ms12_illuminance', 'ms13_direction', 'ms14_status',
       'ms15_precipitation_intensity', 'ms16_precipitation_amount',
       'ms17_status', 'ms18_angle', 'ms19_angle', 'ms20_status',
       'ms21_voltage'],
      dtype='object')

Index(['ID_fact_pyranometer', 'ID_SCC', 'Serialnumber', 'ID_inverter', 'Group',
       'direction_wind', 'temperature', 'irradiation', 'velocity_wind'],
      dtype='object')

In [ ]:
mpp = pd.read_csv("t_mpp_ModulData_1min.csv")

In [ ]:
multi = pd.read_csv("t_multiscan_1min.csv")

In [ ]:
mpp.set_index("Date", inplace = True)
multi.set_index("Date", inplace = True)

In [12]:
meteo = pd.read_csv("t_Meteo.csv")
pyrano = pd.read_csv("t_Pyranometer.csv")

In [33]:
sun = pd.read_csv("t_SunPosition.csv")
sun.set_index("Timestamp_local", inplace = True)

In [35]:
sun.shape

(132541, 6)

In [36]:
mpp.shape

(80572, 9)

In [37]:
mpp_sun.shape

(80572, 15)

In [34]:
mpp_sun = pd.merge(mpp, sun, left_index = True, right_index = True, how = "left")
mpp_sun

,Serialnumber,U0,Imax,Umpp,Impp,Irradiation,Temperature_Modul,Temperature_Sensor,Empp,TimeStamp,Azimuth,Zenit,Einfallswinkel0,Einfallswinkel30,AMx
2021-10-01 06:00:00.000,126393P1709,0.02,0.000,0.02,0.000,NaN,5.0,NaN,0.000000e+00,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,414169P3516,0.03,0.006,0.03,0.008,0.0,NaN,NaN,4.000000e-09,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,149105P0510,0.01,0.000,0.01,0.000,NaN,4.9,NaN,0.000000e+00,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,549475P4818,0.06,0.005,0.06,0.006,NaN,4.3,NaN,6.166667e-09,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,414171P3516,0.04,0.010,0.04,0.012,NaN,NaN,NaN,8.000000e-09,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01 19:02:00.000,126395P1509,0.05,0.005,0.05,0.005,NaN,11.5,NaN,2.777778e-09,2021-10-01 17:02:00.000,268.099609,92.913902,92.913902,93.473396,128.6940
2021-10-01 19:02:00.000,157072P0711,0.05,0.005,0.05,0.007,6.0,NaN,13.9,5.833333e-09,2021-10-01 17:02:00.000,268.099609,92.913902,92.913902,93.473396,128.6940
2021-10-01 19:02:00.000,126421P1809,0.02,0.005,0.02,0.005,NaN,13.0,NaN,1.611111e-09,2021-10-01 17:02:00.000,268.099609,92.913902,92.913902,93.473396,128.6940
2021-10-01 19:02:00.000,126392P1809,25.29,0.005,18.05,0.003,NaN,11.8,NaN,8.856667e-07,2021-10-01 17:02:00.000,268.099609,92.913902,92.913902,93.473396,128.6940
2021-10-01 19:02:00.000,568400P2521,23.39,0.006,17.00,NaN,NaN,NaN,NaN,NaN,2021-10-01 17:02:00.000,268.099609,92.913902,92.913902,93.473396,128.6940

In [39]:
multi_sun = pd.merge(multi, sun, left_index = True, right_index = True, how = "left")
multi_sun

,string,group,idc,vdc,temperature,power,Edc,Eac,TimeStamp,Azimuth,Zenit,Einfallswinkel0,Einfallswinkel30,AMx
2021-10-01 06:00:00.000,Gesamt,2_10,0.013,1.23,5.1,1.0,2.537500e-07,0.000017,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,Gesamt,5_3,0.005,0.28,5.6,6.0,1.736111e-08,0.000100,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,String 3,2_4,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,Gesamt,5_2,0.004,0.15,5.2,1.0,6.250000e-09,0.000017,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,Gesamt,1_10,0.002,0.44,4.9,1.0,1.261111e-08,0.000014,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-03 07:28:00.000,Gesamt,2_4,NaN,0.04,NaN,18.0,NaN,0.000306,2021-10-03 05:28:00.000,97.951401,88.548103,88.548103,92.705498,20.7430
2021-10-03 07:28:00.000,String 3,2_4,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-03 05:28:00.000,97.951401,88.548103,88.548103,92.705498,20.7430
2021-10-03 07:28:00.000,###,R03_07,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-03 05:28:00.000,97.951401,88.548103,88.548103,92.705498,20.7430
2021-10-03 07:28:00.000,Gesamt,6_4,0.006,272.99,15.5,0.0,2.735400e-05,0.000000,2021-10-03 05:28:00.000,97.951401,88.548103,88.548103,92.705498,20.7430
2021-10-03 07:28:00.000,#####,R05_02,0.002,0.15,NaN,1.0,8.000000e-09,0.000017,2021-10-03 05:28:00.000,97.951401,88.548103,88.548103,92.705498,20.7430

In [40]:
pyrano_sun = pd.merge(pyrano, sun, left_index = True, right_index = True, how = "left")
pyrano_sun

,ID_fact_pyranometer,ID_SCC,Serialnumber,ID_inverter,Group,direction_wind,temperature,irradiation,velocity_wind,TimeStamp,Azimuth,Zenit,Einfallswinkel0,Einfallswinkel30,AMx
2021-10-01 06:00:00.000,215816082,21185,:82:83:,3,roof_1,NaN,NaN,NaN,NaN,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,215816083,21185,:82:83:,3,roof_2,NaN,NaN,0.0,NaN,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,215816802,21186,:81:82:83:84:85:,6,field1,NaN,NaN,0.0,NaN,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,215816803,21186,:81:82:83:84:85:,6,field2,NaN,NaN,0.0,NaN,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
2021-10-01 06:00:00.000,215816804,21186,:81:82:83:84:85:,6,field3,NaN,NaN,NaN,NaN,2021-10-01 04:00:00.000,79.969101,101.959396,101.959396,95.408600,-5.1119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-21 16:54:00.000,216884726,21186,:81:82:83:84:85:,6,field3,NaN,NaN,NaN,NaN,2021-10-21 14:54:00.000,239.049103,80.684601,80.684601,96.521599,5.9112
2021-10-21 16:54:00.000,216884727,21186,:81:82:83:84:85:,6,field4,NaN,NaN,NaN,NaN,2021-10-21 14:54:00.000,239.049103,80.684601,80.684601,96.521599,5.9112
2021-10-21 16:54:00.000,216884728,21186,:81:82:83:84:85:,6,field5,NaN,NaN,NaN,NaN,2021-10-21 14:54:00.000,239.049103,80.684601,80.684601,96.521599,5.9112
2021-10-21 16:54:00.000,216885228,36399,:81:,8,tracker1,NaN,NaN,58.0,NaN,2021-10-21 14:54:00.000,239.049103,80.684601,80.684601,96.521599,5.9112
2021-10-21 16:54:00.000,216885588,37197,:MB1:,2,tracker2,NaN,NaN,67.0,NaN,2021-10-21 14:54:00.000,239.049103,80.684601,80.684601,96.521599,5.9112

In [24]:
df_list = [pyrano]

In [22]:
def set_index(df_list):
  for df in df_list:
    df.set_index("Date", inplace = True)
  return df

In [25]:
set_index(df_list)

,ID_fact_pyranometer,ID_SCC,Serialnumber,ID_inverter,Group,direction_wind,temperature,irradiation,velocity_wind
Date,,,,,,,,,
2021-10-01 06:00:00.000,215816082,21185,:82:83:,3,roof_1,NaN,NaN,NaN,NaN
2021-10-01 06:00:00.000,215816083,21185,:82:83:,3,roof_2,NaN,NaN,0.0,NaN
2021-10-01 06:00:00.000,215816802,21186,:81:82:83:84:85:,6,field1,NaN,NaN,0.0,NaN
2021-10-01 06:00:00.000,215816803,21186,:81:82:83:84:85:,6,field2,NaN,NaN,0.0,NaN
2021-10-01 06:00:00.000,215816804,21186,:81:82:83:84:85:,6,field3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2021-10-21 16:54:00.000,216884727,21186,:81:82:83:84:85:,6,field4,NaN,NaN,NaN,NaN
2021-10-21 16:54:00.000,216884728,21186,:81:82:83:84:85:,6,field5,NaN,NaN,NaN,NaN
2021-10-21 16:54:00.000,216885228,36399,:81:,8,tracker1,NaN,NaN,58.0,NaN
2021-10-21 16:54:00.000,216885588,37197,:MB1:,2,tracker2,NaN,NaN,67.0,NaN
2021-10-21 16:54:,216886596,37521,:MB1:MB2:MB3:,4,NaN,NaN,NaN,NaN,NaN

In [32]:
mpp_multi = pd.merge(mpp, multi, left_index= True, right_index = True, how = "outer")
mpp_multi

,Serialnumber,U0,Imax,Umpp,Impp,Irradiation,Temperature_Modul,Temperature_Sensor,Empp,string,group,idc,vdc,temperature,power,Edc,Eac
Date,,,,,,,,,,,,,,,,,
2021-10-01 06:00:00.000,126393P1709,0.02,0.0,0.02,0.0,NaN,5.0,NaN,0.0,Gesamt,2_10,0.013,1.23,5.1,1.0,2.537500e-07,0.000017
2021-10-01 06:00:00.000,126393P1709,0.02,0.0,0.02,0.0,NaN,5.0,NaN,0.0,Gesamt,5_3,0.005,0.28,5.6,6.0,1.736111e-08,0.000100
2021-10-01 06:00:00.000,126393P1709,0.02,0.0,0.02,0.0,NaN,5.0,NaN,0.0,String 3,2_4,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-01 06:00:00.000,126393P1709,0.02,0.0,0.02,0.0,NaN,5.0,NaN,0.0,Gesamt,5_2,0.004,0.15,5.2,1.0,6.250000e-09,0.000017
2021-10-01 06:00:00.000,126393P1709,0.02,0.0,0.02,0.0,NaN,5.0,NaN,0.0,Gesamt,1_10,0.002,0.44,4.9,1.0,1.261111e-08,0.000014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-03 07:28:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gesamt,2_4,NaN,0.04,NaN,18.0,NaN,0.000306
2021-10-03 07:28:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,String 3,2_4,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-03 07:28:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,###,R03_07,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-03 07:28:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gesamt,6_4,0.006,272.99,15.5,0.0,2.735400e-05,0.000000
2021-10-03 07:28:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#####,R05_02,0.002,0.15,NaN,1.0,8.000000e-09,0.000017